# Default owners for everything in the repo
* @cyanxxy

# CI/CD and GitHub configuration
/.github/ @cyanxxy

# Core library code
/packages/engine/src/ @cyanxxy

/packages/cli/src/secureFetch.ts @cyanxxy
/packages/cli/src/config.ts @cyanxxy
